.app-list-container {
  display: grid;
  margin: 1rem;
  gap: 0.5rem;

  @media screen and (min-width: 300px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 500px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
